/* здесь используйте глобальные переменные */

$primary-font: "Montserrat", Arial, sans-serif;
$secondary-font: "IBM Plex Sans", Arial, sans-serif;

$primary-text-color: #000000;
$brand-color: #9f7303;
$page-main-color: #fffdf8;
$border-color: #f5d581;
