/* здесь используйте глобальные переменные */

$primary-font: "Montserrat", Arial, sans-serif;
$secondary-font: "IBM Plex Sans", Arial, sans-serif;

$primary-text-color: #000000;
$page-main-color: #fffdf8;
